{{ header }}
<div id="product-category" class="container">
  <ul class="breadcrumb mt-3">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}/</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h2>{{ heading_title }}</h2>
      {% if thumb or description %}
      <div class="row"> {% if thumb %}
        <div class="col-sm-2"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" /></div>
        {% endif %}
        {% if description %}
        <div class="col-sm-10">{{ description }}</div>
        {% endif %}</div>
      <hr>
      {% endif %}
      {% if categories %}
      <h3>{{ text_refine }}</h3>
      {% if categories|length <= 5 %}
      <div class="row">
        <div class="col-sm-3">
          <ul>
            {% for category in categories %}
            <li><a href="{{ category.href }}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% else %}
      <div class="row">{% for category in categories|batch((categories|length / 4)|round(1, 'ceil')) %}
        <div class="col-sm-3">
          <ul>
            {% for child in category %}
            <li><a href="{{ child.href }}">{{ child.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}</div>
      <br />
      {% endif %}
      {% endif %}
      {% if products %}
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="form-group"><a href="{{ compare }}" id="compare-total" class="btn btn-link">{{ text_compare }}</a></div>
        </div>
        <div class="col-md-4 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
            <select id="input-sort" class="form-control" onchange="location = this.value;">
              
              
              
              {% for sorts in sorts %}
              {% if sorts.value == '%s-%s'|format(sort, order) %}
              
              
              
              <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
              
              
              
              {% else %}
              
              
              
              <option value="{{ sorts.href }}">{{ sorts.text }}</option>
              
              
              
              {% endif %}
              {% endfor %}
            
            
            
            </select>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
            <select id="input-limit" class="form-control" onchange="location = this.value;">
              
              
              
              {% for limits in limits %}
              {% if limits.value == limit %}
              
              
              
              <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
              
              
              
              {% else %}
              
              
              
              <option value="{{ limits.href }}">{{ limits.text }}</option>
              
              
              
              {% endif %}
              {% endfor %}
            
            
            
            </select>
          </div>
        </div>
      </div>
  <section class="recommended mt-5">
    <div class="container">
      <h3 class="font-weight-bold mb-3">{{ heading_title }}</h3>
          <div class="text-center mb-4">
            <div class="row wow fadeIn">
              {% for product in products %}
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                  <div class="view overlay">
                    <!--Добавил условие для добавления ярлыка-->
                    {% if product.special %}
                    <span class="badge badge-danger">Акция</span>
                  {% endif %}
                  <!---->
                    <img src="{{ product.thumb }}" class="card-img-top" alt="{{ product.name }}" title="{{ product.name }}">
                    <a href="{{ product.href }}">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <span class="float-left font-weight-bold">
                          <a onclick="compare.add('{{ product.product_id }}');" class="text-warning" data-toggle="tooltip" data-placement="top" title="{{ button_compare }}">
                        <i class="fas fa-arrows-alt-h text-info"></i></a>
                      </span>
                  <div class="card-body text-center">
                    <h5>
                      <strong>
                        <a href="{{ product.href }}" class="dark-grey-text">{{ product.name }}
                          <!-- <span class="badge badge-pill primary-color">NEW</span> -->
                        </a>
                      </strong>
                    </h5>
                    <p class="grey-text text-left">{{ product.description }}</p>
                    {% if product.rating %}
                      <div class="rating">
                        {% for i in 5 %}
                        {% if product.rating < i %}
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        {% else %}
                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                        {% endif %}
                        {% endfor %}
                      </div>
                      {% endif %}
                      {% if product.price %}
                          {% if not product.special %}

                          <h4 class="font-weight-bold blue-text">
                                <strong>{{ product.price }}</strong>
                            </h4>
                          {% else %}
                            
                          <h4 class="font-weight-bold blue-text">
                            <strong>{{ product.special }}</strong><strong class="price_old">{{ product.price }}</strong>
                          </h4>

                          {% endif %}
                          {% if product.tax %}
                            <h4 class="font-weight-bold blue-text">
                                <strong>{{ text_tax }} {{ product.tax }}</strong>
                            </h4>
                          {% endif %}
                        {% endif %}       
                     <div class="card-footer text-center px-1">
                      <div class="row">
                        <span class="float-left font-weight-bold col-4">
                          <a class="text-warning" data-toggle="tooltip" data-placement="top" onclick="cart.add('{{ product.product_id }}');" title="{{ button_cart }}"><i class="fa fa-shopping-cart icon-cart"></i></a>
                      </span>
                      <span class="float-left font-weight-bold col-4">
                          <a class="text-warning" data-toggle="tooltip" data-placement="top" title="Быстрый заказ">
                       <i class="fas fa-paper-plane icon-cart"></i></a>
                      </span>
                      <span class="float-left font-weight-bold col-4">
                          <a href="{{ product.href }}" class="text-warning" data-toggle="tooltip" data-placement="top" title="Подробнее">
                        <i class="fas fa-list-ul icon-cart"></i></a>
                      </span> 
                       </div>
                      </div>              
                    </div>
                  </div>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>  
      </section>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      {% endif %}
      {% if not categories and not products %}
      <p>{{ text_empty }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }} 



